<h3 class="display-6">What's new</h3>
<div id="noty-holder">
    <ul class="list-group">
        <li style="margin-bottom: 2px;" class="">This is a danger list group item</li>
        <li  style="margin-bottom: 2px;"class="">This is a danger list group item</li>
        <li style="margin-bottom: 2px;" class="">This is a warning list group item</li>
        <li  class="">This is a secondary list group item</li>
                    <!-- <li class="list-group-item list-group-item-primary">This is a primary list group item</li>
                    <li class="list-group-item list-group-item-secondary">This is a secondary list group item</li>
                    <li class="list-group-item list-group-item-success">This is a success list group item</li>
                    <li class="list-group-item list-group-item-danger">This is a danger list group item</li>
                    <li class="list-group-item list-group-item-warning">This is a warning list group item</li> -->
        </ul>
</div>
