<div class="container">
    <!-- Example row of columns -->
    <div class="row" >
      <div class="col-md-4" *ngFor="let course of courses;">
        <h2>{{course.name}}</h2>
        <p>{{course.topicCovered}}</p>
        <p *ngIf="course.typeOfTution[0].available"><small style="font-style: italic;color:#721c24;"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Home tution available</small></p>
        <p>
            <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>&nbsp;
            <a class="btn btn-outline-success" href="#" role="button">Register</a>
        </p>
      </div>
    </div>

    <hr>

</div>
