<div class="container page_header_margin" style="text-align: left;">
  <form class="form-inline my-2 my-lg-0">
    <h3 *ngIf="userLoggedIn">Faculties <span class="editPencil" data-toggle="modal" data-target="#addFaculties" (click)="setFlagAndData('Add')" ><i class="fa fa-plus"></i></span></h3>
    &nbsp;&nbsp;
    <input *ngIf="faculties.length>0" class="form-control mr-sm-2" type="text" placeholder="Filter Faculty" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterArgs1" aria-label="Search">
  </form>
</div>
<hr/>
<div class="container">
  <div style="text-align: center;" *ngIf="faculties.length<1">Faculties not available!</div>
    <div class="row" >
      <div class="col-md-4" *ngFor="let faculty of faculties | filter:filterArgs1">
        <h2>{{faculty.name}}&nbsp;<span *ngIf="userLoggedIn" class="editPencil">
          <i *ngIf="userLoggedIn" class="fa fa-pencil editPencil_small" data-toggle="modal" data-target="#addFaculties" (click)="setFlagAndData('Update');setFacultyToBeUpdated(faculty.facultyId)" aria-hidden="true"></i>&nbsp;
          <i *ngIf="userLoggedIn" data-toggle="modal" data-target="#confirmModal" (click)="setFlagAndData('Delete');setFacultyToBeUpdated(faculty.facultyId)" class="fa fa-times removeIcon_small" aria-hidden="true"></i>
        </span></h2>
        <div *ngIf="faculty.experience"><b>Teaching Experience:</b> {{faculty.experience}} years</div>
        <div><b>Subjects teaches:</b> {{faculty.subjects}}</div>
        <br>
        <p>
            <a data-toggle="modal" data-target="#viewFacultyDetails" href="#" class="btn btn-secondary" role="button" (click)="setFlagAndData('View details');setFacultyToBeUpdated(faculty.facultyId)">View details &raquo;</a>
        </p>
      </div>
    </div>

    <hr>

</div>
<app-confirm *ngIf="removeText=='faculty'" [removeItem]="removeText" (removeConfirmationEvent)="onSave($event)"></app-confirm>
<div id="addFaculties" class="modal fade" role="dialog" style="max-height:700px;overflow-y: scroll;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title"> {{operation}} Faculty</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body container">
            <form class="form-horizontal">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name* </span>
                </div>
                <input type="text" class="form-control" id="facultyName" placeholder="Enter Faculty Name"  name="modal_facultyName" [(ngModel)]="newFaculty.name" (change)="disableBtn()">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Experience(y)</span>
                </div>
                <input type="number" class="form-control" id="fexperience" placeholder="Enter experience" name="modal_experience" [(ngModel)]="newFaculty.experience" (change)="disableBtn()">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Qualification*</span>
                </div>
                <input type="text" class="form-control" id="fqualification" placeholder="Enter Qualification" name="modal_qualification" [(ngModel)]="newFaculty.degree.name" (change)="disableBtn()">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Institute*</span>
                </div>
                <input type="text" class="form-control" id="finstitute" placeholder="Enter Institute" name="modal_institute" [(ngModel)]="newFaculty.degree.college" (change)="disableBtn()">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Address</span>
                </div>
                <input type="text" class="form-control" id="faddress" placeholder="Enter Address" name="modal_address" [(ngModel)]="newFaculty.address" (change)="disableBtn()">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Mobile</span>
                </div>
                <input type="number" class="form-control" id="fmobile" placeholder="Enter Mobile" name="modal_mobile" [(ngModel)]="newFaculty.mobile" (change)="disableBtn()">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                </div>
                <input type="text" class="form-control" id="femail" placeholder="Enter Email id" name="modal_email" [(ngModel)]="newFaculty.email" (change)="disableBtn()">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Class</span>
                </div>
                <input type="text" class="form-control" id="fclass" placeholder="e.g. IV, V" name="modal_class" [(ngModel)]="newFaculty.class" (change)="disableBtn()">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Subject*</span>
                </div>
                <input type="text" class="form-control" id="fsubject" placeholder="e.g. Science, Maths" name="modal_subject" [(ngModel)]="newFaculty.subjects" (change)="disableBtn()">
              </div>
            </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-outline-success" [disabled]="facultySubmitbtnDisabled" (click)="onSave(undefined)">Save</button>
    </div>

  </div>
</div>
</div>
<div id="viewFacultyDetails" class="modal fade" role="dialog" style="max-height:700px;overflow-y: scroll;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Faculty Details</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body container">
            <form class="form-horizontal">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name </span>
                </div>
                <label class="form-control" id="facultyName">{{newFaculty.name}}</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Experience</span>
                </div>
                <label class="form-control" id="fexperience">{{newFaculty.experience}} years</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Qualification</span>
                </div>
                <label class="form-control" id="fqualification">{{newFaculty.degree.name}}</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Institute</span>
                </div>
                <label class="form-control" id="finstitute">{{newFaculty.degree.college}}</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Address</span>
                </div>
                <label class="form-control" id="faddress">{{newFaculty.address}}</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Mobile</span>
                </div>
                <label class="form-control" id="fmobile">{{newFaculty.mobile}}</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                </div>
                <label class="form-control" id="femail">{{newFaculty.email}}</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Class</span>
                </div>
                <label class="form-control" id="fclass">{{newFaculty.class}}</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Subject</span>
                </div>
                <label class="form-control" id="fsubject">{{newFaculty.subjects}}</label>
              </div>
            </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-default" data-dismiss="modal">Close</button>
    </div>

  </div>
</div>
</div>