
<div  class="container page_header_margin" style="text-align: left;">
    <form class="form-inline my-2 my-lg-0">
      <input *ngIf="registeredStudentList.length>0" class="form-control mr-sm-2" type="text" placeholder="Filter Registrations" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterArgs1" aria-label="Search">
    </form>
</div>
<hr/>
<div class="container"> 
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link active show" (click)="setTab('');" data-toggle="tab" href="#newReg">New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" (click)="setTab('approved');" href="#newReg">Approved</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" (click)="setTab('rejected');" href="#newReg">Rejected</a>
    </li>
  </ul>
  <div style="margin-top: 5px;" class="tab-content">
      <div id="newReg" class="row tab-pane fade in active show">
        <div class="col-md-4" *ngFor="let studentObj of registeredStudentList | filter:filterArgs1">
          <h2>{{studentObj.name}}&nbsp;<span *ngIf="userLoggedIn" class="editPencil">
            <i *ngIf="userLoggedIn" class="fa fa-pencil editPencil_small" data-toggle="modal" data-target="#editStudent" (click)="setFlagAndData('Update');setStudentToBeUpdated(studentObj.registrationId)" aria-hidden="true"></i>&nbsp;
            <i *ngIf="userLoggedIn" data-toggle="modal" data-target="#confirmModal" (click)="setFlagAndData('Delete');setStudentToBeUpdated(studentObj.registrationId)" class="fa fa-times removeIcon_small" aria-hidden="true"></i>
          </span></h2>
          <div><b>Course:</b> {{studentObj.subject}}</div>
          <div><b>Class:</b> {{studentObj.class}}</div>
          <div><b>Tution Type:</b> {{studentObj.tuitionType}}</div>
          <div><b>Registered On:</b> {{studentObj.createdAt| date:'fullDate'}}</div>
          <br>
          <p>
              <a class="btn btn-secondary" href="#" data-target="#viewStdDetails"data-toggle="modal" role="button"(click)="setFlagAndData('View details');setStudentToBeUpdated(studentObj.registrationId)">View details &raquo;</a>
          </p>
        </div>
      </div>
  </div>
  <hr/>
</div>
<app-confirm *ngIf="removeText=='registration'" [removeItem]="removeText" (removeConfirmationEvent)="onSave($event)"></app-confirm>
<div id="editStudent" class="modal fade" role="dialog" style="max-height:700px;overflow-y: scroll;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">{{operation}} Registration Details</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body container">
            <form class="form-horizontal">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name </span>
                </div>
                <input type="text" class="form-control" id="courseName" placeholder="Enter Course Name" name="modal_courseName" [(ngModel)]="selectedStudent.name">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email Id </span>
                </div>
                <input type="email" class="form-control" placeholder="Enter Email address"name="modal_emailId" [(ngModel)]="selectedStudent.emailId">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="category">Mobile No </span>
                </div>
                <input type="text" class="form-control" id="category" name="modal_catagory" [(ngModel)]="selectedStudent.mobileNo">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Address </span>
                </div>
                 <textarea type="textarea" class="form-control" id="address"placeholder="Enter Address" name="modal_desc" [(ngModel)]="selectedStudent.address"></textarea>
              </div>
               <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Class </span>
                </div>
                <input type="text" class="form-control" id="class" name="modal_catagory" [(ngModel)]="selectedStudent.class">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Tuition Type</span>
              </div>
              <select name="modal_tuitionType" class="form-control" [(ngModel)]="selectedStudent.tuitionType">
                <option value="" disabled selected hidden>Select</option>
                <option selected="">Home Tuition</option>
                <option>Group Tuition</option>
              </select>
            </div>
            </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-outline-success" (click)="onSave(undefined)">Save</button>
    </div>

  </div>
</div>
</div>
<div id="viewStdDetails" class="modal fade" role="dialog" style="max-height:700px;overflow-y: scroll;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Registration Details</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body container">
            <form class="form-horizontal">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name </span>
                </div>
                    <label name="modal_name"class="form-control">{{selectedStudent.name}}</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email Id </span>
                </div>
                  <label type="email" class="form-control" name="modal_emailId">{{selectedStudent.emailId}}</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Mobile No </span>
                </div>
                  <label type="number" class="form-control" name="modal_mobileNo">{{selectedStudent.mobileNo}}</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Address</span>
                </div>
                    <textarea [disabled] ='true' name="modal_address"class="form-control">{{selectedStudent.address}}</textarea>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Class</span>
                </div>
                  <label type="text" class="form-control" name="modal_class">{{selectedStudent.class}}</label>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Tuition Type</span>
                </div>
                  <label type="text" class="form-control" name="modal_tuitionType">{{selectedStudent.tuitionType}}</label>
              </div>
            </form>
    </div>
    <div class="modal-footer">
      <button *ngFor="let button of buttons | keyvalue" class="{{button.value.bsClass}}" (click)="stateChange(button.value.state)">{{button.key}}</button>
      <button type="button" class="btn btn-outline-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>